// Hover button cart
/*** ESTILOS BOTÓN SLIDE TOP ***/
.ov-btn-slide-top {
    //background: #fff; 
    color: $colorMorado2;
    border: 2px solid $colorMorado2; 
    padding: 10px;
    border-radius: 3px; 
    position: relative;
    z-index: 1;
    border-radius: 1.5rem;
    overflow: hidden;
    //display: inline-block;
  }
  .ov-btn-slide-top:hover {
    color: #fff; 
  }
  .ov-btn-slide-top::after {
    content: "";
    background: $colorMorado2; 
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .ov-btn-slide-top:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}


//Animacion de texto

.tracking-in-expand-fwd-bottom {
    opacity: 0; /* Ocultar por defecto */
}

.tracking-in-expand-fwd-bottom.active {
-webkit-animation: tracking-in-expand-fwd-bottom 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand-fwd-bottom 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
opacity: 1;
}



@-webkit-keyframes tracking-in-expand-fwd-bottom {
0% {
letter-spacing: -0.5em;
-webkit-transform: translateZ(-700px) translateY(500px);
      transform: translateZ(-700px) translateY(500px);
opacity: 0;
}
40% {
opacity: 0.6;
}
100% {
-webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
opacity: 1;
}
}
@keyframes tracking-in-expand-fwd-bottom {
0% {
letter-spacing: -0.5em;
-webkit-transform: translateZ(-700px) translateY(500px);
      transform: translateZ(-700px) translateY(500px);
opacity: 0;
}
40% {
opacity: 0.6;
}
100% {
-webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
opacity: 1;
}
}

@keyframes scale-up {
to { scale: 1.5; }
}

@keyframes fade-away {
to { opacity: 0; }
}
